* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    direction:rtl;
    font-size:16px;
    line-height:2.4em;
}
section {
    padding: 1% 2%;
}
#about-header {
    background-image: url('https://via.placeholder.com/1000x1000');
    background-size:cover;
    height: 50vh;
}
.description {
    padding:1%;
}
.description p {
    font-size:120%;
}
#first-desc {
    background-color: #f4f4f4;
    position: relative;
    bottom:120px;
    padding:15% 8%;
}
.title {
    padding: 3% 0;
    font-weight: 600;
}
#work {
    text-align: center;
}
#employee {
    text-align: center;
}
#participate {
    text-align: center;
    padding: 2%;
    background-color: #f4f4f4;
}
#participate-button {
    padding:1% 4%;
    background-color: orange;
    border-radius:200px;
    border:0px;
    font-size:130%;
    cursor: pointer;
}
.title-2 {
    
    font-weight: 600;
}