* {
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box;
}
body {
    direction: rtl;
    font-size:16px;
    line-height: 1.3em;
}
.post {

}
.uk-grid > * {
    padding-left:20px;
}
.uk-grid {
    margin-left: 0px;
}
#title {
    font-weight:700;
}
#title-ads {
    font-weight:700;
}
.bottom-right {
    position: relative;
    bottom:100px;
    right:20px;
    color:white;
    font-size:180%;
}
.bottom-right-small {
    bottom:80px;
}

.post-big {
    height: 525px;
}
.post-small {
    height: 250px;
}

#tags {
    padding: 30px 0%; 
}
#tags h5 {
    
}

.tag {
    font-size:100%;
    display:inline-block; 
    border:3px solid #f4f4f4;
    padding:5px 10px;
    margin:4px 2px;
    border-radius: 200px;
}



.tag:hover{
    background-color: orange;
    border-color:orange;
    opacity:1;
    color: white;
    text-decoration: none;
}